.un{
    order:0;
}
.deux{
    order:1;
}

.trois{
    order:2;
}

.image{
    padding-left: 16px;
}

.menu {
    display : flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    height:15%;
    width : 100%;
    padding-top: 10px;
    padding-bottom: 2%;
}

.green{
    background-color: green;
}

.red{
    background-color: red;

}


.textScore {
    font-weight:bold;
}
.menuPlay {
    display : flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    height:15%;
    width : 100%;
    padding-top: 10px;
    }

.menu h5 {
    margin-bottom:0 ;
}
.playW {
    display : flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items:center;
    height:15%;
    width : 100%;
    padding-top: 10px;
    padding-bottom: ;
    padding-top: 15 px;
}

.center {
    display : flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items:center;
    height:100;
    width : 100%
}

.bottom {
    display : flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items:center;
    height:15%;
    width : 100%;
}

.up {
    display : flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items:center;
    height:20%;
}

.around {
border-style: solid;
border-width: 2px;
}

.show {
    display:none;
}

.cardgame {
    /*width: 30vw;
    height: 30vw;*/
    padding: 25px;
}

.topscore{
    padding:12px;
    margin:12px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;

}


.cardgameOver{
    padding:0px;
}
.cardgame img {
    width: 100%;
}

.launch.btn-group {
    display:none;
}

.launch {
    display:none;
}

.launch.navbar-expand-lg {
    display:none;
}

.launch.page-footer  {
    display:none;
}
.launch.page-footer.navbar-expand-lg  {
    display:none;
}


.shoot {
    color:red;
}

.vilains
{
    padding-left: 15px;
}

.kh{
    border: 2px solid white;
    padding : 8px;
}

.footerFlex {
    align-self: flex-end;
}

.welcome {
    display : flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
    
    align-items:center;
    height:70%;
    width :100%;
    padding:;}

}
.center2 {

    display : flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
    
    align-items:center;
    height:509px;
    width : 100%;
    padding: 50px;}

.footerfoo {
    position:fixed;
    bottom:0px;
    width:100%;

}
.color {
    background-color: rgb(159, 171, 241);
}
.center3 {
   
    display : flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;

    align-items:center;

}

.welcomeUp{
    margin-bottom:15px;
    